
.root {
    -fx-background-image: url("background.jpg");  
    
    -fx-background-size: 720, 540;
}

#life {
   -fx-font-size: 22px;
   -fx-font-family: "Courier New";
   -fx-fill: #2A5058;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

#score {
   -fx-font-size: 24px;
   -fx-font-family: "Courier New";
   -fx-fill: #2A5058;
   -fx-font-weight: bold;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

#scoreText {
   -fx-font-size: 22px;
   -fx-font-family: "Courier New";
   -fx-fill: #2A5058;
   -fx-font-weight: bold;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}



