
.root {
     -fx-background-image: url("background2.jpg");
     -fx-background-size: 100% 100%;
}

#JFXBall {
   -fx-font-size: 60px;
   -fx-font-family: "Courier New";
   -fx-font-weight: bold;
   -fx-fill: #2A5058;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.button {
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-font-family: "Courier New";
    -fx-font-weight: normal;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}